:root {
  --sprypay-border-radius: .25rem;
  --sprypay-border-radius-l: .5rem;
  --sprypay-border-radius-xl: 1rem;
  --sprypay-border-radius-xxl: 1.5rem;
  --sprypay-transition-duration-fast: .2s;
  --sprypay-transition-duration-default: .3s;
  --sprypay-transition-duration-slow: .5s;
  --sprypay-brand-primary: #51b13e;
  --sprypay-brand-secondary: #CEDC21;
  --sprypay-brand-tertiary: #1e7a44;
  --sprypay-brand-dark: #0F3B21;
  --sprypay-white: #ffffff;
  --sprypay-white-rgb: 255, 255, 255;
  --sprypay-black: #000000;
  --sprypay-black-rgb: 0, 0, 0;
  --sprypay-neutral-light-100: #f8f9fa;
  --sprypay-neutral-light-200: #e9ecef;
  --sprypay-neutral-light-300: #dee2e6;
  --sprypay-neutral-light-400: #ced4da;
  --sprypay-neutral-light-500: #8f979e;
  --sprypay-neutral-light-600: #6c757d;
  --sprypay-neutral-light-700: #495057;
  --sprypay-neutral-light-800: #343a40;
  --sprypay-neutral-light-900: #292929;
  --sprypay-neutral-light-rgb: 143,151,158;
  --sprypay-neutral-dark-100: #F0F6FC;
  --sprypay-neutral-dark-200: #C9D1D9;
  --sprypay-neutral-dark-300: #B1BAC4;
  --sprypay-neutral-dark-400: #8B949E;
  --sprypay-neutral-dark-500: #6E7681;
  --sprypay-neutral-dark-600: #484F58;
  --sprypay-neutral-dark-700: #30363D;
  --sprypay-neutral-dark-800: #21262D;
  --sprypay-neutral-dark-900: #161B22;
  --sprypay-neutral-dark-rgb: 110,118,129;
  --sprypay-primary-100: #c7e6c1;
  --sprypay-primary-200: #b5dead;
  --sprypay-primary-300: #9dd392;
  --sprypay-primary-400: #7cc46e;
  --sprypay-primary-500: #44a431;
  --sprypay-primary-600: #389725;
  --sprypay-primary-700: #2e8a1b;
  --sprypay-primary-800: #247d12;
  --sprypay-primary-900: #1c710b;
  --sprypay-primary-rgb: 68,164,49;
  --sprypay-green-100: #EEFAEB;
  --sprypay-green-200: #C7E8C0;
  --sprypay-green-300: #A0D695;
  --sprypay-green-400: #78C369;
  --sprypay-green-500: #51B13E;
  --sprypay-green-600: #419437;
  --sprypay-green-700: #307630;
  --sprypay-green-800: #205928;
  --sprypay-green-900: #0F3B21;
  --sprypay-green-rgb: 81,177,62;
  --sprypay-blue-100: #b5e1e8;
  --sprypay-blue-200: #9dd7e1;
  --sprypay-blue-300: #7ccad7;
  --sprypay-blue-400: #51b9c9;
  --sprypay-blue-500: #17a2b8;
  --sprypay-blue-600: #03899e;
  --sprypay-blue-700: #007d91;
  --sprypay-blue-800: #007284;
  --sprypay-blue-900: #006778;
  --sprypay-blue-rgb: 23,162,184;
  --sprypay-yellow-100: #FFFAF0;
  --sprypay-yellow-200: #FFF2D9;
  --sprypay-yellow-300: #FFE3AC;
  --sprypay-yellow-400: #FFCF70;
  --sprypay-yellow-500: #FFC043;
  --sprypay-yellow-600: #BC8B2C;
  --sprypay-yellow-700: #997328;
  --sprypay-yellow-800: #674D1B;
  --sprypay-yellow-900: #543D10;
  --sprypay-yellow-rgb: 255,192,67;
  --sprypay-red-100: #FFEFED;
  --sprypay-red-200: #FED7D2;
  --sprypay-red-300: #F1998E;
  --sprypay-red-400: #E85C4A;
  --sprypay-red-500: #E11900;
  --sprypay-red-600: #AB1300;
  --sprypay-red-700: #870F00;
  --sprypay-red-800: #5A0A00;
  --sprypay-red-900: #420105;
  --sprypay-red-rgb: 225,25,0;
  --sprypay-space-xs: 4px;
  --sprypay-space-s: 8px;
  --sprypay-space-m: 16px;
  --sprypay-space-l: 32px;
  --sprypay-space-xl: 64px;
  --sprypay-space-xxl: 80px;
  --sprypay-font-family-base: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  --sprypay-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --sprypay-font-size-xs: 10px;
  --sprypay-font-size-s: 12px;
  --sprypay-font-size-m: 14px;
  --sprypay-font-size-l: 18px;
  --sprypay-font-size-xl: 36px;
  --sprypay-font-size-xxl: 45px;
  --sprypay-font-weight-normal: 400;
  --sprypay-font-weight-semibold: 600;
  --sprypay-font-weight-bold: 700;
  --sprypay-neutral-100: var(--sprypay-neutral-light-100);
  --sprypay-neutral-200: var(--sprypay-neutral-light-200);
  --sprypay-neutral-300: var(--sprypay-neutral-light-300);
  --sprypay-neutral-400: var(--sprypay-neutral-light-400);
  --sprypay-neutral-500: var(--sprypay-neutral-light-500);
  --sprypay-neutral-600: var(--sprypay-neutral-light-600);
  --sprypay-neutral-700: var(--sprypay-neutral-light-700);
  --sprypay-neutral-800: var(--sprypay-neutral-light-800);
  --sprypay-neutral-900: var(--sprypay-neutral-light-900);

  --sprypay-font-size-base: var(--sprypay-font-size-m);

  --sprypay-bg-tile: var(--sprypay-white);
  --sprypay-bg-dark: var(--sprypay-brand-dark);

  --sprypay-body-bg: var(--sprypay-neutral-100);
  --sprypay-body-bg-light: var(--sprypay-white);
  --sprypay-body-bg-medium: var(--sprypay-neutral-200);
  --sprypay-body-bg-striped: var(--sprypay-neutral-200);
  --sprypay-body-bg-hover: var(--sprypay-white);
  --sprypay-body-bg-active: var(--sprypay-primary);
  --sprypay-body-bg-rgb: 248, 249, 250;
  --sprypay-body-border-light: var(--sprypay-neutral-200);
  --sprypay-body-border-medium: var(--sprypay-neutral-300);
  --sprypay-body-text: var(--sprypay-neutral-900);
  --sprypay-body-text-striped: var(--sprypay-body-text);
  --sprypay-body-text-hover: var(--sprypay-body-text);
  --sprypay-body-text-active: var(--sprypay-white);
  --sprypay-body-text-muted: var(--sprypay-neutral-500);
  --sprypay-body-text-rgb: 41, 41, 41;
  --sprypay-body-link: var(--sprypay-primary);
  --sprypay-body-link-accent: var(--sprypay-primary-accent);
  --sprypay-body-shadow: rgba(25, 135, 84, 0.33);

  --sprypay-wizard-bg: var(--sprypay-body-bg);
  --sprypay-wizard-text: var(--sprypay-body-text);

  --sprypay-header-bg: var(--sprypay-white);
  --sprypay-header-text: var(--sprypay-body-text);
  --sprypay-header-link: var(--sprypay-header-text);
  --sprypay-header-link-accent: var(--sprypay-primary);
  --sprypay-header-link-active: var(--sprypay-primary);

  --sprypay-nav-link: var(--sprypay-neutral-600);
  --sprypay-nav-link-accent: var(--sprypay-neutral-700);
  --sprypay-nav-link-active: var(--sprypay-neutral-900);
  --sprypay-nav-bg: transparent;
  --sprypay-nav-bg-hover: transparent;
  --sprypay-nav-bg-active: transparent;
  --sprypay-nav-border: transparent;
  --sprypay-nav-border-hover: transparent;
  --sprypay-nav-border-active: var(--sprypay-primary);

  --sprypay-form-bg: var(--sprypay-white);
  --sprypay-form-bg-hover: var(--sprypay-form-bg);
  --sprypay-form-bg-addon: var(--sprypay-neutral-300);
  --sprypay-form-bg-disabled: var(--sprypay-neutral-200);
  --sprypay-form-text: var(--sprypay-neutral-900);
  --sprypay-form-text-label: var(--sprypay-neutral-700);
  --sprypay-form-text-addon: var(--sprypay-neutral-700);
  --sprypay-form-border: var(--sprypay-neutral-300);
  --sprypay-form-border-check: var(--sprypay-neutral-400);
  --sprypay-form-border-hover: var(--sprypay-primary);
  --sprypay-form-border-focus: var(--sprypay-primary);
  --sprypay-form-border-active: var(--sprypay-form-border);
  --sprypay-form-border-disabled: var(--sprypay-form-border);
  --sprypay-form-shadow-size: 2px;
  --sprypay-form-shadow-focus: var(--sprypay-primary-shadow);
  --sprypay-form-shadow-valid: var(--sprypay-success-shadow);
  --sprypay-form-shadow-invalid: var(--sprypay-danger-shadow);

  --sprypay-toggle-bg: var(--sprypay-neutral-500);
  --sprypay-toggle-bg-hover: var(--sprypay-neutral-600);
  --sprypay-toggle-bg-active: var(--sprypay-primary);
  --sprypay-toggle-bg-active-hover: var(--sprypay-primary-600);

  --sprypay-footer-bg: var(--sprypay-body-bg);
  --sprypay-footer-text: var(--sprypay-body-text-muted);
  --sprypay-footer-link: var(--sprypay-body-text-muted);
  --sprypay-footer-link-accent: var(--sprypay-neutral-600);

  --sprypay-code-text: var(--sprypay-body-text);
  --sprypay-code-bg: transparent;
  --sprypay-pre-text: var(--sprypay-white);
  --sprypay-pre-bg: var(--sprypay-neutral-900);

  --sprypay-primary: var(--sprypay-brand-primary);
  --sprypay-primary-accent: var(--sprypay-brand-tertiary);
  --sprypay-primary-text: var(--sprypay-white);
  --sprypay-primary-text-hover: var(--sprypay-white);
  --sprypay-primary-text-active: var(--sprypay-white);
  --sprypay-primary-bg-hover: var(--sprypay-primary-accent);
  --sprypay-primary-bg-active: var(--sprypay-primary-accent);
  --sprypay-primary-border: var(--sprypay-primary);
  --sprypay-primary-border-hover: var(--sprypay-primary-bg-hover);
  --sprypay-primary-border-active: var(--sprypay-primary-bg-active);
  --sprypay-primary-dim-bg: var(--sprypay-primary-500);
  --sprypay-primary-dim-bg-striped: var(--sprypay-primary-400);
  --sprypay-primary-dim-bg-hover: var(--sprypay-primary-600);
  --sprypay-primary-dim-bg-active: var(--sprypay-primary-700);
  --sprypay-primary-dim-border: var(--sprypay-primary-dim-bg);
  --sprypay-primary-dim-border-active: var(--sprypay-primary-dim-bg-active);
  --sprypay-primary-dim-text: var(--sprypay-white);
  --sprypay-primary-dim-text-striped: var(--sprypay-primary-dim-text);
  --sprypay-primary-dim-text-hover: var(--sprypay-primary-dim-text);
  --sprypay-primary-dim-text-active: var(--sprypay-primary-900);
  --sprypay-primary-shadow: rgba(81, 177, 62, 0.5);
  --sprypay-primary-rgb: 81, 177, 62;

  --sprypay-secondary: var(--sprypay-white);
  --sprypay-secondary-accent: var(--sprypay-secondary);
  --sprypay-secondary-text: var(--sprypay-primary);
  --sprypay-secondary-text-hover: var(--sprypay-primary);
  --sprypay-secondary-text-active: var(--sprypay-brand-dark);
  --sprypay-secondary-bg-hover: var(--sprypay-secondary-accent);
  --sprypay-secondary-bg-active: var(--sprypay-secondary-accent);
  --sprypay-secondary-border: var(--sprypay-neutral-300);
  --sprypay-secondary-border-hover: var(--sprypay-primary);
  --sprypay-secondary-border-active: var(--sprypay-neutral-500);
  --sprypay-secondary-dim-bg: var(--sprypay-neutral-200);
  --sprypay-secondary-dim-bg-striped: var(--sprypay-neutral-300);
  --sprypay-secondary-dim-bg-hover: var(--sprypay-neutral-300);
  --sprypay-secondary-dim-bg-active: var(--sprypay-neutral-400);
  --sprypay-secondary-dim-border: var(--sprypay-secondary-dim-bg);
  --sprypay-secondary-dim-border-active: var(--sprypay-secondary-dim-bg-active);
  --sprypay-secondary-dim-text: var(--sprypay-neutral-800);
  --sprypay-secondary-dim-text-striped: var(--sprypay-secondary-dim-text);
  --sprypay-secondary-dim-text-hover: var(--sprypay-secondary-dim-text);
  --sprypay-secondary-dim-text-active: var(--sprypay-neutral-900);
  --sprypay-secondary-shadow: rgba(130, 138, 145, 0.33);
  --sprypay-secondary-rgb: 255, 255, 255;

  --sprypay-success: var(--sprypay-green-500);
  --sprypay-success-accent: var(--sprypay-green-700);
  --sprypay-success-text: var(--sprypay-white);
  --sprypay-success-text-hover: var(--sprypay-white);
  --sprypay-success-text-active: var(--sprypay-white);
  --sprypay-success-bg-hover: var(--sprypay-success-accent);
  --sprypay-success-bg-active: var(--sprypay-success-accent);
  --sprypay-success-border: var(--sprypay-success);
  --sprypay-success-border-hover: var(--sprypay-success-bg-hover);
  --sprypay-success-border-active: var(--sprypay-success-bg-active);
  --sprypay-success-dim-bg: var(--sprypay-green-100);
  --sprypay-success-dim-bg-striped: var(--sprypay-green-200);
  --sprypay-success-dim-bg-hover: var(--sprypay-green-200);
  --sprypay-success-dim-bg-active: var(--sprypay-green-300);
  --sprypay-success-dim-border: var(--sprypay-success-dim-bg);
  --sprypay-success-dim-border-active: var(--sprypay-success-dim-bg-active);
  --sprypay-success-dim-text: var(--sprypay-green-800);
  --sprypay-success-dim-text-striped: var(--sprypay-success-dim-text);
  --sprypay-success-dim-text-hover: var(--sprypay-success-dim-text);
  --sprypay-success-dim-text-active: var(--sprypay-green-900);
  --sprypay-success-shadow: rgba(60, 153, 110, 0.33);
  --sprypay-success-rgb: var(--sprypay-green-rgb);

  --sprypay-info: var(--sprypay-blue-500);
  --sprypay-info-accent: var(--sprypay-blue-700);
  --sprypay-info-text: var(--sprypay-white);
  --sprypay-info-text-hover: var(--sprypay-white);
  --sprypay-info-text-active: var(--sprypay-white);
  --sprypay-info-bg-hover: var(--sprypay-info-accent);
  --sprypay-info-bg-active: var(--sprypay-info-accent);
  --sprypay-info-border: var(--sprypay-info);
  --sprypay-info-border-hover: var(--sprypay-info-bg-hover);
  --sprypay-info-border-active: var(--sprypay-info-bg-active);
  --sprypay-info-dim-bg: var(--sprypay-blue-100);
  --sprypay-info-dim-bg-striped: var(--sprypay-blue-200);
  --sprypay-info-dim-bg-hover: var(--sprypay-blue-200);
  --sprypay-info-dim-bg-active: var(--sprypay-blue-300);
  --sprypay-info-dim-border: var(--sprypay-info-dim-bg);
  --sprypay-info-dim-border-active: var(--sprypay-info-dim-bg-active);
  --sprypay-info-dim-text: var(--sprypay-blue-800);
  --sprypay-info-dim-text-striped: var(--sprypay-info-dim-text);
  --sprypay-info-dim-text-hover: var(--sprypay-info-dim-text);
  --sprypay-info-dim-text-active: var(--sprypay-blue-900);
  --sprypay-info-shadow: rgba(11, 172, 204, 0.33);
  --sprypay-info-rgb: var(--sprypay-blue-rgb);

  --sprypay-warning: var(--sprypay-yellow-500);
  --sprypay-warning-accent: var(--sprypay-yellow-700);
  --sprypay-warning-text: var(--sprypay-neutral-900);
  --sprypay-warning-text-hover: var(--sprypay-neutral-900);
  --sprypay-warning-text-active: var(--sprypay-neutral-900);
  --sprypay-warning-bg-hover: var(--sprypay-warning-accent);
  --sprypay-warning-bg-active: var(--sprypay-warning-accent);
  --sprypay-warning-border: var(--sprypay-warning);
  --sprypay-warning-border-hover: var(--sprypay-warning-bg-hover);
  --sprypay-warning-border-active: var(--sprypay-warning-bg-active);
  --sprypay-warning-dim-bg: var(--sprypay-yellow-100);
  --sprypay-warning-dim-bg-striped: var(--sprypay-yellow-200);
  --sprypay-warning-dim-bg-hover: var(--sprypay-yellow-200);
  --sprypay-warning-dim-bg-active: var(--sprypay-yellow-300);
  --sprypay-warning-dim-border: var(--sprypay-warning-dim-bg);
  --sprypay-warning-dim-border-active: var(--sprypay-warning-dim-bg-active);
  --sprypay-warning-dim-text: var(--sprypay-neutral-800);
  --sprypay-warning-dim-text-striped: var(--sprypay-warning-dim-text);
  --sprypay-warning-dim-text-hover: var(--sprypay-warning-dim-text);
  --sprypay-warning-dim-text-active: var(--sprypay-yellow-900);
  --sprypay-warning-shadow: rgba(217, 164, 6, 0.33);
  --sprypay-warning-rgb: var(--sprypay-yellow-rgb);

  --sprypay-danger: var(--sprypay-red-500);
  --sprypay-danger-accent: var(--sprypay-red-700);
  --sprypay-danger-text: var(--sprypay-white);
  --sprypay-danger-text-hover: var(--sprypay-white);
  --sprypay-danger-text-active: var(--sprypay-white);
  --sprypay-danger-bg-hover: var(--sprypay-danger-accent);
  --sprypay-danger-bg-active: var(--sprypay-danger-accent);
  --sprypay-danger-border: var(--sprypay-danger);
  --sprypay-danger-border-hover: var(--sprypay-danger-bg-hover);
  --sprypay-danger-border-active: var(--sprypay-danger-bg-active);
  --sprypay-danger-dim-bg: var(--sprypay-red-100);
  --sprypay-danger-dim-bg-striped: var(--sprypay-red-200);
  --sprypay-danger-dim-bg-hover: var(--sprypay-red-200);
  --sprypay-danger-dim-bg-active: var(--sprypay-red-300);
  --sprypay-danger-dim-border: var(--sprypay-danger-dim-bg);
  --sprypay-danger-dim-border-active: var(--sprypay-danger-dim-bg-active);
  --sprypay-danger-dim-text: var(--sprypay-red-800);
  --sprypay-danger-dim-text-striped: var(--sprypay-danger-dim-text);
  --sprypay-danger-dim-text-hover: var(--sprypay-danger-dim-text);
  --sprypay-danger-dim-text-active: var(--sprypay-red-900);
  --sprypay-danger-shadow: rgba(225, 83, 97, 0.33);
  --sprypay-danger-rgb: var(--sprypay-red-rgb);

  --sprypay-light: var(--sprypay-neutral-200);
  --sprypay-light-accent: var(--sprypay-neutral-400);
  --sprypay-light-text: var(--sprypay-neutral-800);
  --sprypay-light-text-hover: var(--sprypay-neutral-800);
  --sprypay-light-text-active: var(--sprypay-neutral-800);
  --sprypay-light-bg-hover: var(--sprypay-light-accent);
  --sprypay-light-bg-active: var(--sprypay-light-accent);
  --sprypay-light-border: var(--sprypay-light);
  --sprypay-light-border-hover: var(--sprypay-light-bg-hover);
  --sprypay-light-border-active: var(--sprypay-light-bg-active);
  --sprypay-light-dim-bg: var(--sprypay-white);
  --sprypay-light-dim-bg-striped: var(--sprypay-neutral-200);
  --sprypay-light-dim-bg-hover: var(--sprypay-neutral-200);
  --sprypay-light-dim-bg-active: var(--sprypay-neutral-300);
  --sprypay-light-dim-border: var(--sprypay-light-dim-bg);
  --sprypay-light-dim-border-active: var(--sprypay-light-dim-bg-active);
  --sprypay-light-dim-text: var(--sprypay-neutral-800);
  --sprypay-light-dim-text-striped: var(--sprypay-light-dim-text);
  --sprypay-light-dim-text-hover: var(--sprypay-light-dim-text);
  --sprypay-light-dim-text-active: var(--sprypay-neutral-900);
  --sprypay-light-shadow: rgba(211, 212, 213, 0.33);
  --sprypay-light-rgb: 233, 236, 239;

  --sprypay-dark: var(--sprypay-neutral-800);
  --sprypay-dark-accent: var(--sprypay-black);
  --sprypay-dark-text: var(--sprypay-neutral-200);
  --sprypay-dark-text-hover: var(--sprypay-neutral-200);
  --sprypay-dark-text-active: var(--sprypay-neutral-200);
  --sprypay-dark-bg-hover: var(--sprypay-dark-accent);
  --sprypay-dark-bg-active: var(--sprypay-dark-accent);
  --sprypay-dark-border: var(--sprypay-dark);
  --sprypay-dark-border-hover: var(--sprypay-dark-bg-hover);
  --sprypay-dark-border-active: var(--sprypay-dark-bg-active);
  --sprypay-dark-dim-bg: var(--sprypay-neutral-900);
  --sprypay-dark-dim-bg-striped: var(--sprypay-neutral-900);
  --sprypay-dark-dim-bg-hover: var(--sprypay-neutral-800);
  --sprypay-dark-dim-bg-active: var(--sprypay-neutral-700);
  --sprypay-dark-dim-border: var(--sprypay-dark-dim-bg);
  --sprypay-dark-dim-border-active: var(--sprypay-dark-dim-bg-active);
  --sprypay-dark-dim-text: var(--sprypay-neutral-200);
  --sprypay-dark-dim-text-striped: var(--sprypay-dark-dim-text);
  --sprypay-dark-dim-text-hover: var(--sprypay-dark-dim-text);
  --sprypay-dark-dim-text-active: var(--sprypay-neutral-100);
  --sprypay-dark-shadow: rgba(66, 70, 73, 0.33);
  --sprypay-dark-rgb: 33, 38, 45;
}

