:root {
  --sprypay-neutral-50: #0D1117;
  --sprypay-neutral-100: var(--sprypay-neutral-dark-900);
  --sprypay-neutral-200: var(--sprypay-neutral-dark-800);
  --sprypay-neutral-300: var(--sprypay-neutral-dark-700);
  --sprypay-neutral-400: var(--sprypay-neutral-dark-600);
  --sprypay-neutral-500: var(--sprypay-neutral-dark-500);
  --sprypay-neutral-600: var(--sprypay-neutral-dark-400);
  --sprypay-neutral-700: var(--sprypay-neutral-dark-300);
  --sprypay-neutral-800: var(--sprypay-neutral-dark-200);
  --sprypay-neutral-900: var(--sprypay-neutral-dark-100);
  --sprypay-bg-dark: var(--sprypay-neutral-50);
  --sprypay-bg-tile: var(--sprypay-bg-dark);
  --sprypay-body-bg-light: var(--sprypay-neutral-50);
  --sprypay-body-bg-hover: var(--sprypay-neutral-50);
  --sprypay-body-bg-rgb: 41, 41, 41;
  --sprypay-body-text: var(--sprypay-white);
  --sprypay-body-text-muted: var(--sprypay-neutral-600);
  --sprypay-body-text-rgb: 255, 255, 255;
  --sprypay-body-link-accent: var(--sprypay-primary-accent);
  --sprypay-form-bg: var(--sprypay-bg-dark);
  --sprypay-form-text: var(--sprypay-neutral-800);
  --sprypay-form-text-label: var(--sprypay-neutral-900);
  --sprypay-form-border: var(--sprypay-neutral-200);
  --sprypay-header-bg: var(--sprypay-bg-dark);
  --sprypay-nav-link: var(--sprypay-neutral-500);
  --sprypay-nav-link-active: var(--sprypay-white);
  --sprypay-footer-link-accent: var(--sprypay-neutral-800);
  --sprypay-pre-bg: var(--sprypay-bg-dark);
  --sprypay-primary-accent: var(--sprypay-primary-300);
  --sprypay-secondary: transparent;
  --sprypay-secondary-text-active: var(--sprypay-primary);
  --sprypay-secondary-rgb: 22, 27, 34;
  --sprypay-warning-text: var(--sprypay-neutral-100);
  --sprypay-warning-text-hover: var(--sprypay-neutral-100);
  --sprypay-warning-text-active: var(--sprypay-neutral-100);
  --sprypay-warning-dim-text: var(--sprypay-neutral-200);
  --sprypay-warning-dim-text-active: var(--sprypay-yellow-100);
  --sprypay-light-accent: var(--sprypay-black);
  --sprypay-light-dim-bg: var(--sprypay-neutral-50);
  --sprypay-light-shadow: rgba(66, 70, 73, 0.33);
  --sprypay-light-rgb: 33, 38, 45;
  --sprypay-dark-accent: var(--sprypay-neutral-400);
  --sprypay-dark-dim-bg: var(--sprypay-white);
  --sprypay-dark-shadow: rgba(211, 212, 213, 0.33);
  --sprypay-dark-rgb: 201, 209, 217;
}
